
nav {    
    display: block;
    text-align: center;
  }
  nav ul {
    margin: 0;
    padding:0;
    list-style: none;
  }
  .nav a {
    display:block; 
    background: #111; 
    color:#fff; 
    text-decoration: none;
    padding: .8em 1.8em;
    text-transform: uppercase;
    font-size: 80%;letter-spacing: 2px;
    text-shadow: 0 -1px 0 #000;
    position: relative;
  }
  .nav{  
    vertical-align: top; 
    display: inline-block;
    box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
    border-radius:6px;
  }
  .nav li{position: relative;}
  .nav > li { 
    float:left; 
    border-bottom: 4px #aaa solid; 
    margin-right: 1px; 
  } 
  .nav > li > a { 
    margin-bottom:1px;
    box-shadow:inset 0 2em .33em -.5em #555; 
  }
  .nav > li:hover , .nav > li:hover >a{  border-bottom-color:orange;}
  .nav li:hover > a { color:orange; }
  .nav > li:first-child  { border-radius: 4px 0 0 4px;} 
  .nav > li:first-child>a{border-radius: 4px 0 0 0;}
  .nav > li:last-child  { 
    border-radius: 0 0 4px 0; 
    margin-right: 0;
  } 
  .nav > li:last-child >a{border-radius: 0 4px 0 0; }
  .nav li li a { margin-top:1px}
  
    .nav li a:first-child:nth-last-child(2):before { 
     content:""; 
     position: absolute; 
     height:0; 
     width: 0; 
     border: 5px solid transparent; 
     top: 50% ;
     right:5px;  
   }
.nav ul {
  position: absolute;
  white-space: nowrap;
  border-bottom: 5px solid  orange;
  z-index: 1;
  left: -99999em;
}
.nav > li:hover > ul {
  left: auto;
  padding-top: 5px  ;
  min-width: 100%;
}
.nav > li li ul {  border-left:1px solid rgb(240, 9, 9);}


.nav > li li:hover > ul { 
  left: 100%;
  top: -1px;
}
.nav > li > a:first-child:nth-last-child(2):before { 
  border-top-color: #aaa; 
}
.nav > li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-bottom-color: orange; 
  margin-top:-5px
}
.nav li li > a:first-child:nth-last-child(2):before {  
  border-left-color: #aaa; 
  margin-top: -5px
}
.nav li li:hover > a:first-child:nth-last-child(2):before {
  border: 5px solid transparent; 
  border-right-color: orange;
  right: 10px; 
}

.content {
    margin: 12px;
    padding: 17px 0 17px 17px;
    width: 270px;
    height: 300px;
    overflow-y: scroll;
    mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to center, transparent 17px, black 17px);
    mask-size: 100% 20000px;
    mask-position: left bottom;
    -webkit-mask-image: linear-gradient(to top, transparent, black),
      linear-gradient(to center, transparent 17px, black 17px);
    -webkit-mask-size: 100% 20000px;
    -webkit-mask-position: left bottom;
    transition: mask-position 0.3s, -webkit-mask-position 0.3s;
    position: center;
  }
  
  .content:hover {
       -webkit-mask-position: center top;
    
  }
  
  @keyframes background {
    from {
      background: pink;
    }
    to {
      background: #c0d6ff;
    }
  }
  
  .wrapper {
    float: left;
    animation: background 5s infinite alternate;
  }
  @media only screen and (min-width: 400px){ 
  body {
    height: 1200px;
    background-color:white;
    background:
     url(body.png)    
     top  / 1500px 800px 
     no-repeat                
     fixed                    
     padding-box              
     content-box              
  }
}
  *{
	margin:2px;
	padding:5px;
	list-style-type:none;
  }
  p {
    text-align: center;
    font-size: 20px;
  }

  .p1 {
    font-size: 15px;
  }
  h1 {
    position: center;
    top: 0;
    font-size: 140px;
    line-height: 1;
    margin: none; 
    background: #fff;
    padding: 0 0.5rem;
  }
  h2 {
    position: center;
    top: 0;
    font-size: 50px;
    line-height: 1;
    margin: none; 
    background: #fff;
    padding: 0 0.5rem;
  }
  h3 {
    position: center;
    top: 0;
    font-size: 20px;
    line-height: 1;
    margin: none; 
    padding: 0 0.5rem;
  }
  h4 {
    position: center;
    top: 0;
    font-size: 20px;
    line-height: 1;
    margin: none; 
    padding: 0 0.5rem;
  }
  h5 {
    position: center;
    top: 0;
    font-size: 20px;
    line-height: 1;
    margin: none; 
    padding: 0 0.5rem;
  }
  h6 {
    position: center;
    top: 0;
    font-size: 50px;
    line-height: 1;
    margin: none; 
    background: #fff;
    padding: 0 0.5rem;
  }
  .dakel0{
    justify-content:center;
    display: flex;
  }
  .dakel{
    text-align: center; 
    justify-content:center;
    width:1000px;
    box-shadow: 1px -1px -1px 1px #000, -1px 10px -1px 1px #fff, 0 0 10px 5px #fff;
  }
  .dakel2{
  text-align: center;
  display: flex;
  }
  .dakel3{
    justify-content:center;
    display: flex;
  }

  .dakel4{
      text-align: left;
  }
  .dakel5{
    justify-content:center;
    display: flex;
    width:1000px;
  }
  .dakel8{
    display: flex;
  }
  .dakel9{
      display: flex;
  }
  table {
    margin: 0 auto;
    border-collapse: collapse;
    border-style: hidden;
  }
  table td {
    padding: 1rem;
    border: 5px solid black;
  }
  .flip-card {
    background-color: transparent;
    width: 400px;
    height: 350px;
    border: 0px solid #f1f1f1;
    perspective: 800px; 
    padding: 5px;
    margin: 20px;
    box-shadow: 0px 5px 5px rgb(236, 89, 217);
  }
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  
  .flip-card-front {
    background-color:rgb(80, 4, 61);
    color: rgb(245, 239, 239);
  }
  
  .flip-card-back {
    background-color: rgb(228, 122, 180);
    color: white;
    transform: rotateY(180deg);
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgb(250, 250, 250);
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(216, 143, 194);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #bb4096;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(236, 89, 217);
  }
  
  input[type=submit]:hover {
    background-color: #f309df;
  }
  
  .container {
    border-radius: 5px;
    background-color: #bd8cac;
    padding: 20px;
    box-shadow: 5px 5px 5px 5px rgb(236, 89, 217);
  }
  button{
    background-color: #bb4096;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px rgb(236, 89, 217);
  }
  
